body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
}
.brand-logo {
    max-width: 200px;
    width: calc(100vw * .75);
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
}
.page-footer {
    padding-top: 0;
    background: #c8191e;
}

.page-main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 106px);
}

.page-main .top-image {
    max-width: 500px;
    width: calc(100vw * .75);
    margin-left: auto;
    margin-top: 18px;
    margin-right: auto;
}

.page-main .bio-title-f1 {
    margin-bottom: 5px;
    text-align: center;
    color: #fdd902;
    font-weight: bold;
    text-transform: uppercase;
}
.page-main .bio-title-f2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.page-main .bio-title-f3 {
    margin-top: 5px;
    text-align: center;
    color: #fdd902;
    font-weight: 600;
    text-transform: uppercase;
}

.page-main .container-flux {
    position: relative;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.page-main .container-flux .bio-images{
    margin-top: 5%;
    width: calc(100vw * .75);
    max-width: 400px;
}

.page-main .container-flux .percent-image {
    position: absolute;
    width: 30%;
    max-width: 200px;
    right: -13%;
    margin-top: -12%;
}

.page-main .container-flux .agent-image {
    position: absolute;
    width: 40%;
    max-width: 240px;
    left: -13%;
    margin-top: -16%;
}

.page-main .container-flux .btn-signup {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #f58221;
}

.page-main .bio-step {
    margin-top: 40px;
    margin-bottom: 20px;
}

.page-main .bio-step .row .col {
    padding: 0;
}

.page-main .bio-step .step-images {
    width: 100%;
}

@media only screen and (max-width: 1920px) {
	.page-main .bio-title-f1 {
    	font-size:1.45rem;
	}
	.page-main .bio-title-f2 {
    	font-size:1.97rem;
	}
}

@media only screen and (max-width: 993px) {
	.page-main .bio-title-f1 {
    	font-size:1.51rem;
	}
	.page-main .bio-title-f2 {
    	font-size:2.06rem;
	}
	.container {
		width:98%;
	}
}

@media only screen and (max-width: 601px) {
	.page-main .bio-title-f1 {
    	font-size:1.39rem;
	}
	.page-main .bio-title-f2 {
    	font-size:1.91rem;
	}
	.container {
		width:98%;
	}
}

@media only screen and (max-width: 480px) {
	.page-main .bio-title-f1 {
    	font-size:1.09rem;
	}
	.page-main .bio-title-f2 {
    	font-size:1.52rem;
    }
    .container {
		width:98%;
	}
}

@media only screen and (max-width: 360px) {
	.page-main .bio-title-f1 {
    	font-size:0.8rem;
	}
	.page-main .bio-title-f2 {
    	font-size:1.12rem;
	}
	.container {
		width:98%;
	}
}